{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
<div class="form-group">
    {{ form_label(form.current_password, 'Enter your current password',{'attr': {'for': 'currentPassword'}}) }}
    {{ form_widget(form.current_password, {'attr': {'class': 'form-control input-lg', 'id': 'currentPassword', 'placeholder': 'Enter your current password', 'required': 'required'}}) }}
    <small id="passwordCurrentHelp" class="form-text text-muted">{{ form_errors(form.current_password) }}</small>
</div>


<div class="form-group">
    {{ form_label(form.plainPassword.first, 'Enter your password',{'attr': {'for': 'plainPassword'}}) }}
    {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control input-lg', 'id': 'plainPassword', 'placeholder': 'Enter your password', 'required': 'required'}}) }}
    <small id="passwordHelp" class="form-text text-muted">{{ form_errors(form.plainPassword.first) }}</small>
</div>
<div class="form-group">
    {{ form_label(form.plainPassword.second, 'Enter your password again',{'attr': {'for': 'plainPassword2'}}) }}
    {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control input-lg', 'id': 'plainPassword2', 'placeholder': 'Enter your password again', 'required': 'required'}}) }}
    <small id="passwordtwoHelp" class="form-text text-muted">{{ form_errors(form.plainPassword.second) }}</small>
</div>

    <div>
        <input class="btn btn-lg btn-primary" type="submit" value="{{ 'change_password.submit'|trans }}" />
    </div>
{{ form_end(form) }}
